.tech-icon {
  fill: var(--live-color);
  width: 1.2rem;
  height: 1.2rem;
  overflow: visible;
}
.icon-container {
  padding: 6px;
  gap: 6px;
  display: flex;
  align-items: center;
  font-family: system-ui, -apple-system, "System UI";
  font-weight: bold;
  font-size: 0.9rem;
  color: var(--live-color);
  border: 2px solid var(--live-color);
  border-radius: 6px;
  flex-basis: 100px;
  flex-grow: 1;
}
.skills-flex {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
  max-width: 790px;
  margin: auto;
}
.skill {
  flex-grow: 1;
  flex-basis: 200px;
  border: 1px solid #fff7;
  background-color: var(--dark-color3);
  width: 100%;
  flex-wrap: wrap;
  padding: 30px 20px;
  max-width: 400px;
}
.skills-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
