@import "tailwindcss";
:root {
  --color-html: #e34f26;
  --color-css: #1572b6;
  --color-javascript: #f7df1e;

  --color-typescript: #3178c6;
  --color-react: #61dafb;
  --color-nextjs: #fafafa;
  --color-tailwind: #06b6d4;

  --color-git: #f05032;
  --color-github: #fafafa;
}
.skills-section {
  color: #fff !important;
}

.icon-container.soft-skill {
  --icon-color: var(--color-github);
  animation: skill-icon-glow 4s ease-in both infinite;
}
.icon-container.soft-skill:nth-child(3),
.icon-container.soft-skill:nth-child(4) {
  animation-delay: 0.4s;
}
.icon-container.soft-skill:nth-child(5),
.icon-container.soft-skill:nth-child(6) {
  animation-delay: 0.8s;
}
.tech-icon {
  will-change: filter, color, border-color, background-color;
  fill: currentColor;
  width: 1.2rem;
  height: 1.2rem;
  overflow: visible;
  animation: icon-animation 0.8s ease-in both;
}
.icon-container {
  padding: 6px;
  gap: 6px;
  display: flex;
  align-items: center;
  font-family:
    system-ui,
    -apple-system,
    "System UI";
  font-weight: bold;
  font-size: 0.9rem;
  background-color: var(--color-slate-950);
  color: var(--color-neutral-400);
  fill: var(--color-neutral-400);
  border: 2px solid var(--color-neutral-400);
  border-radius: 6px;
  flex-basis: 100px;
  flex-grow: 1;
}

/* svgs */
.html {
  --icon-color: var(--color-html);
  animation: skill-icon-glow 4s ease-in 1s both infinite;
}
.css {
  --icon-color: var(--color-css);
  animation: skill-icon-glow 4s ease-in 1.3s both infinite;
}
.javascript {
  --icon-color: var(--color-javascript);
  animation: skill-icon-glow 4s ease-in 1.6s both infinite;
}
.git {
  --icon-color: var(--color-git);
  animation: skill-icon-glow 4s ease-in 1.9s both infinite;
}
.github {
  --icon-color: var(--color-github);
  animation: skill-icon-glow 4s ease-in 2.2s both infinite;
}
.tailwind {
  --icon-color: var(--color-tailwind);
  animation: skill-icon-glow 4s ease-in 2.5s both infinite;
}
.react {
  --icon-color: var(--color-react);
  animation: skill-icon-glow 4s ease-in 2.8s both infinite;
}
.nextjs {
  --icon-color: var(--color-nextjs);
  animation: skill-icon-glow 4s ease-in 3.1s both infinite;
}
.typescript {
  --icon-color: var(--color-typescript);
  animation: skill-icon-glow 4s ease-in 3.4s both infinite;
}
.skill {
  flex-grow: 1;
  flex-basis: 200px;
  width: 100%;
  flex-wrap: wrap;
  padding: 30px 20px;
  background-color: #0f0f1fcc;
  border-radius: 10px;
}
.skills-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
@keyframes icon-animation {
  0% {
    transform: rotate(0);
    scale: 1;
  }
  50% {
    transform: rotate(15deg);
    scale: 1.1;
  }
  100% {
    transform: rotate(0);
    scale: 1;
  }
}
@keyframes skill-icon-glow {
  0% {
  }
  20% {
    color: var(--icon-color);
    border-color: var(--icon-color);
    box-shadow:
      0 0 12px var(--icon-color),
      0 0 10px #fffa;
    scale: 1.025;
  }
  40% {
    color: var(--color-neutral-400);
    border-color: var(--color-neutral-400);
    filter: drop-shadow(0 0 0 var(--icon-color));
    scale: 1;
  }
}
